extends ../layout

block css
  link(rel='stylesheet', href='/css/gallery.css')
  link(rel='stylesheet', href='/css/comments.css')

block screen
  #photo
    .image
      img(src='/user_files/photos/' + data.id)
    .views.right
      span.viewsIcon
      span Просмотров #{data.views}
  #comments
    .header.left Оставить комментарий
    .clear
    form.send(method='post')
      textarea.area(name='text' placeholder='Текст')
      input(type='submit')
    - for(let i = 0; i < 3; i++) {
      .comment(id='cid' + i)
        span.author Автор комментария
        a.date(href='/gallery/pic/' + data.id + '#cid_' + i) 19:04
        a.right (ifAdmin)Удалить
        .text А что если я скажу вам что тут должен быть текст комментария который lorem ipsum, но мне лень было его искать, копировать и так далее и поэтому вместо него я буду использовать свой собственный, спасибо.
    - }