mixin commentsSection(id, type, data) 
    #comments
      if(data && session.authorized === false) 
        .header.left Комментарии:
        .clear
      if(session.authorized)
        .header.left Оставить комментарий:
        .clear
        form.send(method='POST' action='/comments/add/' + id + '/' + type)
          textarea.area(name='text' placeholder='Текст')
          input.submit(type='submit')
      if(data)
        - var i = 0;     
        each comment in data
          .comment
            span.author=comment.login
            if(session.admin === 1)
              form.send(method='POST' action='/comments/delete/' + comments[i++].id + '/' + id + '/' + type) 
                input.submit(type='submit' value='Удалить')
            .text=comment.text