extends layout

block screen
  #upload
    .title Title
    input(type='text')
    .image image #[img]
    input(type='file')
    .desc tyt bydet opisanie
    input(type='desc')
    br
    input(type='submit')