#header
  h1 Портал экологии
  h2 За день природу не спасти!
  ul.menu
    li.left #[a(href='/') Главная]
    li.left #[a(href='/') Галерея]
    li.right #[a(href='/') Выход]
    li.right #[a(href='/') Username]
    .clear