#header
  ul.menu
    li.left #[a(href='/') Главная]
    li.left #[a(href='/gallery') Галерея]

    if(session.authorized)
      li.right #[a(href='/auth/logout') Выход]
      li.right #[a=session.username]
      if(session.admin == 1)
        li.right #[a(href='/article/suggested') Предложенные новости]
      else
        li.right #[a(href='/article/new') Предложить новость]
    else
      li.right #[a(href='/auth/register') Регистрация]
      li.right #[a(href='/auth/login') Вход]
      
    .clear