doctype html
html
  head
    title Портал экологии
    link(rel='stylesheet', href='/css/main.css')
    link(rel='icon' href='/favicon.png' type='image/png')
    link(rel='shortcut icon' href='/favicon.png' type='image/png')
    block css
  body
    #wrapper
      include header
      #main
        block screen
    //- CSS transition fix
    script. 