doctype html
html
  head
    title=title
    link(rel='stylesheet', href='./css/main.css')
    block css
  body
    #wrapper
      include header
      #main
        block screen
    //CSS transition fix
    script 