extends layout

block screen
  #photo
    .title Title
    .image image #[img]
    .desc tyt bydet opisanie photo
  #comments
    - for(let i = 0; i < 3; i++) {
    .comment
      .author RVS
      .date date
      .text text
    - }