#news .article{
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  max-width: 500px;
  display: inline-block;
}

#news .article:nth-child(2n){
  margin-right: 0 !important;
}

#news .article .image{
  border-radius: 0 0 5px 5px;
  border-bottom: 5px solid #67ce33;
}

#news .article .image img{
  border-radius: 5px 5px 0 0;
}

#news .article .image a.hover{
  position: absolute;
  opacity: 0;
  width: 500px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  top: 0;
  left: 0;
  text-align: center;
  transition: all 0.1s ease-in;
}

#news .article .image a.hover p{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#news .article .image:hover a.hover{
  opacity: 1;
  cursor: pointer;
}

#news .article .title{
  font-size: 22px;
}

#news .article .views{
  padding-left: 0 !important;
}

#news .article .readFull{
  border: 1px solid #999;
  border-radius: 3px;
  text-align: right;
  font-size: 16px;
}

#news .article .readFull:hover{
  transition: all 0.1s ease-in;
  border: 1px solid #67ce33;
  cursor: pointer;
}

#news .article span, #news .article a{
  display: inline-block;
  vertical-align: middle;
  padding: 5px 10px;
}