#news .article{
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 500px;
  display: inline-block;
}

#news .article:nth-child(2n){
  margin-right: 0 !important;
}

#news .article .image{
  border-radius: 0 0 5px 5px;
  border: 0;
  border-bottom: 5px solid #67ce33;
  text-align: center;
}

#news .article .image img{
  border-radius: 5px 5px 0 0;
  max-height: 200px;
  min-height: 200px;
  max-width: 500px;
  margin-bottom: -4px;
}

#news .article .image a.hover{
  position: absolute;
  opacity: 0;
  width: 500px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  top: 0;
  left: 0;
  text-align: center;
  transition: all 0.1s ease-in;
  color: #111;
  box-sizing: border-box;
}

#news .article .image a.hover p{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#news .article .image:hover a.hover{
  opacity: 1;
  cursor: pointer;
}

#news .article .info{
  padding: 10px;
  box-sizing: border-box;
}

#news .article .title{
  font-size: 22px;
}

#news .article .desc{
  margin-bottom: 10px;
}

#news .article .views{
  padding-left: 0 !important;
}

#news .article .readFull{
  border: 1px solid #999;
  margin-bottom: 10px;
  border-radius: 3px;
  text-align: right;
  font-size: 16px;
  color: #333;
  transition: all 0.1s ease-in;
}

#news .article .readFull:hover{
  border: 1px solid #67ce33;
  cursor: pointer;
  color: #444;
}

#news .article span, #news .article a{
  display: inline-block;
  vertical-align: middle;
  padding: 5px 10px;
}

/* New Article */
#newArticle{
  width: 700px;
  margin: 0 auto;
  margin: 20px auto;
}

#newArticle .field{
  margin-bottom: 50px;
}

#newArticle .field p{
  font-size: 26px;
  margin-bottom: 10px;
}

#newArticle .field input.title{
  border: 0;
  border-bottom: 2px solid #CCC;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  color: #222;
  transition: border 0.3s ease-in;
  padding: 2px 5px;
}

#newArticle .field label{
  background: #FFF;
  border: 2px solid #CCC;
  padding: 10px 15px;
  display: inline-block;
  font-size: 20px;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

#newArticle .field label:hover{
  border: 2px solid #67ce33;
  color: #222;
}

#newArticle .field input#photo{
  display: none;
}

#newArticle .field input, #upload .field textarea{
  margin: 0 5px;
}

#newArticle .field input:focus, #upload .field textarea:focus{
  border-color: #67ce33;
}

#newArticle .submit{
  background: #FFF;
  margin: 0 auto;
  display: block;
  border: 0;
  border-bottom: 2px solid #CCC;
  color: #333;
  font-size: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 100px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

#newArticle .submit:hover{
  color: #222;
  border-bottom: 2px solid #67ce33;
}