.form{
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.form h3{
  display: none;
}

.form .field{
  border: 1px solid #AAA;
  display: inline-block;
  border-radius: 5px;
  transition: border 0.2s ease-in;
}

.form .field:hover{
  border: 1px solid #67ce33;
  transition: border 0.2s ease-in;
}

.form .field{
  width: 350px;
  margin-top: 20px;
}

.form .field .helper, .form .field input.enter{
  display: inline-block;
  font-size: 20px;
  padding: 10px 5px;
  vertical-align: middle;
  border-radius: 0 5px 5px 0;
}

.form .field .helper{
  color: #999;
  text-align: right;
  width: 95px;
  transition: color 0.2s ease-in;
}

.form .field:hover .helper{
  color: #333;
}

.form .field input.enter{
  border: 0;
  width: 235px;
}

.form input.submit{
  display: block;
  margin: 20px auto;
  color: #444;
  font-size: 24px;
  width: 350px;
  border: 1px solid #AAA;
  padding: 10px;
  border-radius: 5px;
  background: #FFF;
}

.form input.submit:hover{
  transition: all 0.2s ease-in;
  border: 1px solid #67ce33;
  cursor: pointer;
  color: #111;
}