*{
  padding: 0;
  margin: 0;
}

ul, li{
  list-style-type: none;
}

body{
  background: #73bd8a;
}

body::after{
  background: url('/images/bg.jpg');
  content: ' ';
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;   
}

#wrapper{
  width: 900px;
  margin: 0 auto;
}

#header{
  background: #FFF;
}

.left{
  float: left;
}

.right{
  float: right;
}

.clear{
  clear: both;
}