extends ../layout
include ../comments.pug


block css
  link(rel='stylesheet', href='/css/article.css')
  link(rel='stylesheet', href='/css/comments.css')

block screen
  #article
    .image.right
      img(src='/user_files/news/' + article.id)
    .title=article.title
    .text=article.text
  .clear
  if(article.public)
    +commentsSection(commentsData)