extends ../layout

block screen
  #article
    .title Title
    .image image #[img]
    .desc tyt bydet opisanie
  #comments
    - for(let i = 0; i < 5; i++) {
    .comment
      .author RVS
      .date date
      .text text
    - }