extends ../layout

block css
  link(rel='stylesheet', href='/css/article.css')

block screen
  form#newArticle(method='POST', action='new', encType="multipart/form-data")
    .field
      p Название новости
      input.title(type='text' name='title')
    .field
      p Превью изображение
      label#lb(for='photo') Выбрать
      input#photo(type='file' name='image')
    .field
      p Описании новости
      textarea.desc(name='desc' noresize)
    input.submit(type='submit' value='Опубликовать')
    
    script.
      label = document.getElementById('lb');
      input = document.getElementById('photo');
      input.onchange = () => {
        a = input.value;
        a = a.split('\\');
        a = a[a.length - 1];
        lb.innerText = a.split('.')[0];
      }